<mat-toolbar color="primary">
    <span>
        <a routerLink="/">View posts</a>
    </span>
    <span class="spacer"></span>
    <ul>
        <li>
            <a mat-button *ngIf="isUserAuthenticated" routerLink="/create" routerLinkActive="mat-accent">New post</a>
        </li>
        <li>
            <a mat-button *ngIf="!isUserAuthenticated" routerLink="/login" routerLinkActive="mat-accent">Sign in</a>
        </li>
        <li>
            <a mat-button *ngIf="!isUserAuthenticated" routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
        </li>
        <li>
            <button mat-button *ngIf="isUserAuthenticated" (click)="logOut()">Sign out</button>
        </li>
    </ul>
</mat-toolbar>